html {
	height: 100%;
}
body {
	padding: 16px;
	margin: 0;

	height: 100%;
	display: flex;
	menu.main {
		height: 100%;
		width: 180px;
		list-style: none;
		padding: 0;
	}

	section {
		padding: 16px;
		padding-top: 0;
	}
}

code {
	font-family: "Courier New", monospace;
	display: block;
	background: #f6f6f6;
	border: 1px solid gray;
	border-radius: 10px;
	padding: 8px 16px;
	margin: 16px 0;
	white-space: pre-wrap;
	tab-size: 2;
	font-size: 16px;
}

