@import '../node_modules/@intermesh/goui/style/_config.scss';

html {
	height: 100%;
}
body {
	padding: 0;
	margin: 0;
	height: 100%;
	display: flex;

	> header {
		background-color: var(--bg-header);
		color: white;
		align-items: center;

		> * {
			padding: 0;
			margin: 0;
		}



		> div.goui.hbox {
			align-items: center;
		}
		a {
			color:white;
			text-decoration: none;
			font-family: courier;
			font-weight: bold;
			margin-right: 16px;
			img {
				display: block;
			}
		}
	}
}

a {
	color: var(--c-primary);

	&:visited {
		color: var(--c-secondary);
	}
}




.main.cards {
	min-height: 100%;
}

menu.main-menu, menu.demo {
	//height: 100%;
	width: 200px;
	list-style: none;
	padding: 8px;
	background-color: var(--bg-side-bar);

	.goui-button {
		width: 100%;
		text-align: left;
	}
}

section {
	padding: 0 16px 16px;
	max-width: 600px;

	form {
		max-width: 400px;
	}
}

.btn-open-menu {
	display: none;
}

footer {
	margin-top: 80px;
	padding: 8px;
	text-align: center;
	border-top: 1px solid $colorBorder;
	//color: white;
	p {
		font-size: 80%;
		margin: 0.5em;
	}
	a {
		//color: white;
	}
}


code {
	font-family: "Courier New", monospace;
	display: block;
	background: var(--bg-input);
	border: 1px solid gray;
	border-radius: 10px;
	padding: 8px 16px;
	margin: 16px 0;
	white-space: pre-wrap;
	tab-size: 2;
	font-size: 16px;
	line-height: 1.1em;
}


@media only screen and (max-width: 1120px) {
	menu.main {
		position:fixed;
		z-index: 2;
		top:0;
		bottom:0;
		left: 0;
		transform: translateX(-100%);
		transition: transform  200ms linear;
	}

	.btn-open-menu {
		display: block;
	}


	.open-menu {
		menu.main {
			transform: none;
		}
	}

	.overlay {
		position:fixed;
		top:0;
		bottom:0;
		left:0;
		right:0;
		opacity: 0;
		pointer-events: none;
		transition: opacity 200ms linear;
	}
	.open-menu {
		> .overlay {
			pointer-events: all;
			opacity: 1;
			z-index:1;
			background-color: #01040A99;
		}
		overflow:hidden;
	}
}




